Repository PowerSystem2024/DynamicDevs-TercerSemestre, pull requests merged in 2025-05, with the labels that each got.

#22 Clase 4 de Python, trabajo con Base de Datos
  Python/leccion_4/BD/prueba_bd.py
Labels: Python

#34 Clase 4 (Java): sobreescritura de métodos, polimorfismo y uso de instanceof
  Java/Leccion_4/.gitignore
  Java/Leccion_4/src/domain/Employee.java
  Java/Leccion_4/src/domain/Main.java
  Java/Leccion_4/src/domain/Manager.java
  Java/Leccion_4/src/instance/Employee.java
  Java/Leccion_4/src/instance/Main.java
  Java/Leccion_4/src/instance/Manager.java
Labels: Java

#30 Clase 5 (JavaScript) - Funcion flecha
  JavaScript/Clase 05/funcionesFlecha.js
Labels: JavaScript

#36 Clase 5 Registros con Postgresql y Python
  Python/leccion_4/BD/.idea/.gitignore
  Python/leccion_4/BD/.idea/BD.iml
  Python/leccion_4/BD/.idea/inspectionProfiles/Project_Default.xml
  Python/leccion_4/BD/.idea/inspectionProfiles/profiles_settings.xml
  Python/leccion_4/BD/.idea/misc.xml
  Python/leccion_4/BD/.idea/modules.xml
  Python/leccion_4/BD/.idea/vcs.xml
  Python/leccion_4/BD/actualizar_registro.py
  Python/leccion_4/BD/actualizar_varios_reg.py
  Python/leccion_4/BD/delete_registro.py
  Python/leccion_4/BD/delete_varios_reg.py
  Python/leccion_4/BD/i_registros.py
  Python/leccion_4/BD/prueba_bd.py
  Python/leccion_4/BD/v_i_registros.py
  Python/leccion_4/BD/v_registros.py
Labels: Python

#49 Juego Piedra, Papel o Tijera (completo)
  Codigo-Juegos/piedrapapeltijera/codigo.js
  Codigo-Juegos/piedrapapeltijera/estilo.css
  Codigo-Juegos/piedrapapeltijera/piedrapapeltijera.html
Labels: JavaScript, Tareas Especiales
